legacy-peer-deps = true
save-exact = true

# vscode still expects all eslint and prettier plugins to be hoisted
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# libsql
public-hoist-pattern[]=*libsql*
public-hoist-pattern[]=*@neon-rs*
public-hoist-pattern[]=*detect-libc*