.bprogress.bprogress .bar {
  box-shadow: none;
}

.bprogress.bprogress .peg {
  @apply w-full bg-rose-800;
  transform: none;
  box-shadow: none;
}

html[data-theme='dark'] .bprogress.bprogress .bar {
  box-shadow:
    0 0 3px rgb(30 64 175 / 1),
    0 0 10px rgb(29 78 216 / 0.6);
}

html[data-theme='dark'] .bprogress.bprogress .peg {
  @apply w-full bg-sky-200;
  transform: none;
}

@media (prefers-color-scheme: dark) {
  .bprogress.bprogress .bar:not(html[data-theme='light'] *) {
    box-shadow:
      0 0 3px rgb(30 64 175 / 1),
      0 0 10px rgb(29 78 216 / 0.6);
  }

  .bprogress.bprogress .peg:not(html[data-theme='light'] *) {
    @apply w-full bg-sky-300;
    transform: none;
  }
}
