@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grainy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' /%3E%3C/svg%3E");
}

@layer utilities {
  .glow {
    @apply transition-all bg-gradient-to-t from-violet-500/30 to-transparent duration-500 [background-position:bottom_left] [background-size:100%_0] bg-no-repeat hover:[background-size:100%_100%];
  }
}

@layer components {
  .meh-grid {
    @apply grid max-w-6xl mx-auto px-4;

    grid-template-areas:
      'header'
      'aside'
      'main';

    @media (min-width: 768px) {
      grid-gap: 20px;
      grid-template-areas:
        'header main'
        'aside main'
        '. footer';
      grid-template-columns: minmax(160px, 1fr) minmax(0, 690px);
      grid-template-rows: minmax(0, auto) auto minmax(0, auto);
    }

    @media (min-width: 1024px) {
      grid-gap: 40px;
      grid-template-areas:
        'header main main'
        'aside main main'
        '. footer .';
      grid-template-columns: 1fr 650px 1fr;
      grid-template-rows: minmax(0, auto) auto minmax(0, auto);
    }
  }

  .meh-header {
    grid-area: header;
  }

  .meh-aside {
    grid-area: aside;
  }

  .meh-footer {
    grid-area: footer;
  }

  .meh-main {
    grid-area: main;
  }
}

@layer base {
  pre {
    @apply my-4 rounded overflow-x-auto;
  }

  /*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
  pre code.torchlight {
    @apply block py-4 min-w-max;
  }

  /*
 Horizontal line padding.
*/
  pre code.torchlight .line {
    @apply px-4;
  }

  /*
 Push the code away from the line numbers and
 summary caret indicators.
*/
  pre code.torchlight .line-number,
  pre code.torchlight .summary-caret {
    @apply mr-4;
  }
}
