@import './shiki-transformers.css';
@import './nprogress.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .effect-crt-blue {
    @apply text-sky-200;
    mask-image: url('./crt-lines.svg');
    mask-mode: luminance;
    padding: 10px;
    margin: -10px;
    text-shadow:
      0 0 3px rgb(30 64 175 / 1),
      0 0 10px rgb(29 78 216 / 0.6);
  }
}

.oembed {
  &.oembed-youtube iframe {
    width: 100%;
    height: 100%;
  }
}

html[data-theme='dark'] .shiki {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
