@import 'tailwindcss';

@import './shiki-transformers.css' layer(base);
@import './bprogress.css';

@config '../../typography.config.js';

@custom-variant dark {
  &:where([data-theme='dark'] *, [data-theme='dark']) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:not(html[data-theme='light'] *, [data-theme='light']) {
      @slot;
    }
  }
}

@theme {
  --breakpoint-xs: 29.6875rem;

  --text-3sx: 0.5625rem;
  --text-3xs--line-height: 1;
  --text-2xs: 0.6875rem;
  --text-2xs--line-height: 1;

  --color-beige: oklch(0.8111 0.0308 59.21);

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);

  --container-5xs: 10rem;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-bitter);
  --font-mono: var(--font-ibm-plex-mono);

  --animate-fade-in: fade-in 0.2s linear;
  --animate-outline-bounce: outline-bounce 0.3s;
  --animate-swing-spin: swing-spin 1.5s infinite alternate ease-in-out;
  --animate-archive-tip: archive-tip 0.6s cubic-bezier(0.3, 0.2, 0.17, 3)
    forwards;
  --animate-flap: flap 0.2s linear 3;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes swing-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  @keyframes outline-bounce {
    0%,
    100% {
      outline-offset: 4px;
    }
    50% {
      outline-offset: 6px;
    }
  }

  @keyframes flap {
    0%,
    100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.85);
    }
  }

  @keyframes archive-tip {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0) rotate(8deg);
    }
  }
}

@utility prose-bw {
  --tw-prose-body: var(--color-stone-800);
  --tw-prose-headings: var(--color-stone-900);
  --tw-prose-lead: var(--color-stone-600);
  --tw-prose-links: var(--color-stone-900);
  --tw-prose-bold: var(--color-stone-900);
  --tw-prose-counters: var(--color-stone-500);
  --tw-prose-bullets: #d1bdae;
  --tw-prose-hr: var(--color-stone-200);
  --tw-prose-quotes: var(--color-stone-900);
  --tw-prose-quote-borders: var(--color-stone-200);
  --tw-prose-captions: var(--color-stone-500);
  --tw-prose-code: var(--color-stone-900);
  --tw-prose-pre-code: var(--color-stone-200);
  --tw-prose-pre-bg: var(--color-stone-800);
  --tw-prose-th-borders: var(--color-stone-300);
  --tw-prose-td-borders: var(--color-stone-200);
  --tw-prose-invert-body: var(--color-stone-100);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: rgba(204, 194, 204, 0.7);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-stone-400);
  --tw-prose-invert-bullets: #988698;
  --tw-prose-invert-hr: var(--color-stone-700);
  --tw-prose-invert-quotes: #e7e3d0;
  --tw-prose-invert-quote-borders: transparent;
  --tw-prose-invert-captions: var(--color-stone-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-stone-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-stone-600);
  --tw-prose-invert-td-borders: var(--color-stone-700);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility bg-grainy {
  background-image: url(./grainy.svg);
}

@utility bg-grainy-light {
  background-image: url(./grainy-light.svg);
}

@utility page-bg {
  @apply bg-grainy-light dark:bg-grainy bg-[#f2f1f0] bg-[length:200px_200px] dark:bg-[#0f0d0b];
  background-size: 200px 200px;
}

/* disable all view transitions while a modal is open.
   this prevents that view transitions flash in front of the modal. */
html:has(dialog:modal),
html:has(dialog:modal) .mug {
  view-transition-name: none !important;
}

html:has(dialog:modal) [style*='view-transition-name'] {
  view-transition-name: none !important;
}

button {
  cursor: pointer;
}

.oembed {
  iframe {
    color-scheme: light;
    background-color: transparent;
  }

  &.oembed-youtube iframe {
    width: 100%;
    height: 100%;
  }
}

html[data-theme='dark'] .shiki {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html[data-theme='dark'] .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

@media (prefers-color-scheme: dark) {
  .shiki:not(html[data-theme='light'] *) {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  .shiki span:not(html[data-theme='light'] *) {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

:root {
  interpolate-size: allow-keywords;
}
