# thx brody! https://github.com/railwayapp-templates/caddy-reverse-proxy/blob/74ca0b6430047002a20f6658a1a9ba63731fe573/Caddyfile
{
  admin off
  persist_config off
  auto_https off

  # runtime logs
  log {
    format json
  }

  servers {
    trusted_proxies static private_ranges # trust private proxies
  }
}

:{$PORT} {
  log {
    format json
  }

  handle_path /raw-content/* {
    rewrite * /{$GH_REPO}/main{uri}

    reverse_proxy https://raw.githubusercontent.com {
      header_up +Host {upstream_hostport}
      header_up +Authorization "Bearer {$GITHUB_CONTENT_PAT}"
    }
  }

  log {
    output stdout
    format console
    level DEBUG
  }
}
